/* Don't re-size tag names based on popularity */
.tag-1, .tag-2, .tag-3, .tag-4 {
    font-size: 12pt;
}

/* Indent links to articles under their date heading */
#archive-list-contents dd {
    padding-left: 30px;
}

/* Make header more prominent on index page */
article > h2 {
    border-bottom: 4px solid #dd4818; /* only use this color when using the UNITED theme */
}
